extends header

block content
    p #{data.count}
    ul(class="list-group")
        each hit, index in data.hits
            li("list-group-item" href="music/song?#{hit._id}")
                div #{hit.title}
                div #{hit.artist}
                div #{hit.album}

