extends header

block content
    div(class="list-group")
        each hit, index in data.hits
            a(class="list-group-item clearfix" onclick="return Jukebox.addMusicToQueue('/queue', '#{hit._id}', '#{hit.url_title}')")
                div(class="row")
                    div(class="col-xs-8")
                        h4(class="title") #{hit.title}
                        h5(class="artist") #{hit.artist}
                        h6(class="album list-group-item-text") #{hit.album}
                    div(class="col-xs-4")
                        span(class="pull-right glyphicon glyphicon-ok" style="font-size:1.5em;")


